<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TServlet</servlet-name>
        <servlet-class>uts.isd.controller.TServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageListServlet</servlet-name>
        <servlet-class>uts.isd.controller.ManageListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductForEditServlet</servlet-name>
        <servlet-class>uts.isd.controller.GetProductForEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>uts.isd.controller.CancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegistrationServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>uts.isd.controller.CartServlet</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.submitOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.deleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityUpServlet</servlet-name>
        <servlet-class>uts.isd.controller.QuantityUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityDownServlet</servlet-name>
        <servlet-class>uts.isd.controller.QuantityDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>uts.isd.controller.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.removeFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TServlet</servlet-name>
        <url-pattern>/TServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageListServlet</servlet-name>
        <url-pattern>/ManageListServlet</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>GetProductForEditServlet</servlet-name>
        <url-pattern>/GetProductForEditServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StaffRegistrationServlet</servlet-name>
        <url-pattern>/StaffRegistrationServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitOrderServlet</servlet-name>
        <url-pattern>/submitOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrderServlet</servlet-name>
        <url-pattern>/deleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityUpServlet</servlet-name>
        <url-pattern>/QuantityUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityDownServlet</servlet-name>
        <url-pattern>/QuantityDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/ShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromCartServlet</servlet-name>
        <url-pattern>/removeFromCartServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
